# Ignore virtual environments
flask_frontend/venv/
fastapi_backend/venv/

# Ignore ALL __pycache__ folders recursively
__pycache__/
**/__pycache__/

# Ignore Python compiled files
*.pyc

# Local user database and secrets
flask_frontend/instance/
.env
