{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<h1>About LocalHarvest</h1>
<p>
    LocalHarvest connects customers with local farmers and organic food producers.
    Our mission is to make fresh, healthy food accessible to everyone while supporting small farms and reducing environmental impact.
</p>
<br>
<p>
    Some of our sources include: 
    <ul>
        <li>Local farms</li>
        <li>Farmer's markets</li>
        <li>Community supported agriculture programs</li>
        <li>Organic food producers</li>
    </ul>
</p>


{% endblock %}
